# Enable native bridge for target executables
on early-init
    mount binfmt_misc binfmt_misc /proc/sys/fs/binfmt_misc

on property:ro.vendor.enable.native.bridge.exec=1
    copy /system/vendor/etc/binfmt_misc/arm_exe /proc/sys/fs/binfmt_misc/register
    copy /system/vendor/etc/binfmt_misc/arm_dyn /proc/sys/fs/binfmt_misc/register
    mount none /vendor/bin/houdini /system/bin/houdini bind rec

on property:ro.vendor.enable.native.bridge.exec64=1
    copy /system/vendor/etc/binfmt_misc/arm64_exe /proc/sys/fs/binfmt_misc/register
    copy /system/vendor/etc/binfmt_misc/arm64_dyn /proc/sys/fs/binfmt_misc/register
    mount none /vendor/bin/houdini64 /system/bin/houdini64 bind rec
